#projects {
    margin-top: 5em;
    padding: 0 14%;
}

#projects h1 {
    color: #FF4A57;
    font-size: 2.5em;
}

ul {
    list-style: none;
    margin-top: 3em;

    display: flex;
}

li {
    max-width: 240px;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.project-title {
    color: #FCFCFC;
}

.project-description {
    font-size: 15px;
    opacity: .8;
    color: #FCFCFC;
}

.projectImg {
    width: 15rem;
}

a {
    text-decoration: none;
    display: flex;

    justify-content: center;
    align-items: center;
}

