#projects {
    margin-top: 5em;
    padding: 0 14%;
}

#projects h1 {
    color: #FF4A57;
    font-size: 2.5em;
}


ul {
    list-style: none;
    margin-top: 3em;

    display: flex;
    flex-wrap: wrap;
    gap: 3em;
}

li {
    max-width: 240px;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.project-title {
    color: #FCFCFC;
}

.project-description {
    font-size: 15px;
    opacity: .8;
    color: #FCFCFC;
}

.projectImg {
    width: 15rem;
    height: 150px;
}

a {
    text-decoration: none;
    display: flex;

    justify-content: center;
    align-items: center;
}

/* Responsivity */

@media (max-width: 325px) {
    #projects {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    ul {
        justify-content: center;
    }
    li {
        align-items: center;
    }
}

@media (max-width: 239px) {
    .projectImg {
        display: none;
    }
}