#home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7.6em 14%;
    background-color: hsl(232, 25%, 18%, 99%);
}

.about {
    font-size: 3.8em;
    max-width: 600px;
}

.about, .description {
    color: #FCFCFC;
    font-weight: 400;
}

.bar {
    background-color: gray;
    height: 3.5em;
    width: 2px;
}

.firstball {
    background-color: #FF4A57;
}

.page-location {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: fixed;
    left: 90%;
}

.ball {
    height: 25px;
    width: 25px;
    border: 2px solid #FF4A57;
    border-radius: 50%;

    transition-property: all;
    transition-duration: 0.5s;
}

.description {
    color: #3C3E4F;
    font-size: 1.1em;
    max-width: 300px;
}


@media (max-width: 645px) {
    .about {
      font-size: 3em;
    }
  }

  @media (max-width: 436px) {
    .about {
      font-size: 2.5em;
    }
  }

  @media (max-width: 366px) {
    .about {
      font-size: 2.2em;
    }
  }
  
  